# --- Entornos virtuales de Python ---
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Archivos de configuración de IDEs ---
.vscode/
.idea/
*.iml

# --- Archivos de sistema ---
.DS_Store
Thumbs.db 

# --- Archivos de logs ---
*.log

# --- Java ---
*.class
target/

dist/
build/