body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .card-products{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;

    .product-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
      width: 150px;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }

    h3 {
      margin-top: 10px;
      font-size: 1.2em;
      color: #333;
    }

    p {
      font-size: 1em;
      color: #666;
    }
  }
}

.cart-btn {
    position: fixed;
    top: 90vh;
    right: 40px;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

.cart-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.modal-overlay {
  display: none; /*none (no muestra lo typeado)*/ 
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modal-container {
  display: none;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  z-index: 1;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-close {
  float: right;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.buyButton{
  padding: 5px 25px;
  border: none;
  border-radius: 10px;
  background-color: rgb(6, 155, 68);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  
}